.success_title {
  color: black;
  font-weight: 500;
}
.success_message {
  color: #642c20;
  opacity: 0.4;
}
.success_confirm {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: white;
  text-align: center;
  background-color: #642c20;
  border-radius: 29px;
}

.openLand_title {
  font-size: 13px;
  color: #bbb3ab;
  margin: 9px 0px 7px;
}

.openLand_input {
  width: 100%;
  height: 36px;
  background-color: #f0f0f0;
  padding: 0px 15px;
  border-radius: 4px;
}

.modal_warpper {
  width: 290px;
  border-radius: 16px;
}
